[data-ss-sport="tennis"] .ss-serve,
[data-ss-sport="tennis"] .ss-serve::before,
[data-ss-sport="tennis"] .ss-serve::after {
	width: 1em;
	height: 1em;
	border-radius: 50%;
}
[data-ss-sport="tennis"] .ss-serve {
	display: inline-block;
	color: transparent;
	background-color: #cf0;
	position: relative;
	overflow: hidden;
}
[data-ss-sport="tennis"] .ss-serve::before,
[data-ss-sport="tennis"] .ss-serve::after {
	content: "";
	position: absolute;
	border: 2px solid #f5f5f5;
}
[data-ss-sport="tennis"] .ss-serve::before {
	top: -65%;
}
[data-ss-sport="tennis"] .ss-serve::after {
	top: 65%;
}

[data-ss-sport="tennis"]:not(.ss-is-in-tie-break) .ss-disadvantaged .ss-content {
	display: none;
}