@import './variables.css';
@import './reset.css';
@import './global.css';
@import './headings.css';
@import './tables.css';
@import './buttons.css';
@import './utils.css';
@import './components/index.css';